@font-face {
    font-family: myFirstFont;
    src: url("main.ttf")
}

body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
}

.grid-quickinfoimg {
    width: 20%;
    height: 180px;
    display: inline-block;
}

.grid-quickinfotxt {
    width: 70%;
    height: 180px;
    display: inline-block;
    position: fixed;
}

.quicktitle {
}

.quicksubtitle {
    margin-top: -20px;
}

.quicktext {
    margin-top: -20px;
    font-size: 14px;

}

@media(max-width: 600px) {

    .grid-quickinfoimg {
        width: 40%;
        height: 180px;
        display: inline-block;
    }

    .grid-quickinfotxt {
        width: 60%;
        height: 180px;
        display: inline-block;
        position: fixed;
    }


    .quicktitle {
        margin-top: -5px;
        font-size: 24px;
    }

    .quicksubtitle {
        margin-top: -20px;
        font-size: 20px;
    }

    .quicktext {
        margin-top: -20px;
        font-size: 11px;
    }
}