@font-face {
	font-family: myFirstFont;
	src: url("main.ttf")
}

body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: myFirstFont;
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

	body:after {
		content: "";
		position: fixed; /* stretch a fixed position to the whole screen */
		top: 0;
		height: 100vh; /* fix for mobile browser address bar appearing disappearing */
		left: 0;
		right: 0;
		z-index: -1; /* needed to keep in the background */
		background: url("bg.jpg") center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

.grid-main {
	width: 80%;
	height: 280px;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	margin-left: 10%;
	text-align: center;
}

.grid-homeui1 {
	width: 42%;
	height: auto;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-top: 15%;
	margin-left: 30%;
}

.grid-homeui2 {
	width: 80%;
	height: 88px;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-left: 10%;
}

.grid-tabs {
	width: 80%;
	height: 28px;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-left: 10%;
}

.grid-quickinfo {
	width: 80%;
	height: 186px;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-left: 10%;
}

.grid-allresults {
	width: 80%;
	height: 1366px;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-left: 10%;
}



.grid-searchbox1 {
	width: 144px;
	height: 64px;
	display: none;
	background-color: white;
	text-align: center;
	margin-top: -2px;
	margin-left: 13%;
	position: absolute;
	border: solid 1px black;
}

.grid-searchbox2 {
	width: 144px;
	height: 64px;
	display: none;
	background-color: white;
	text-align: center;
	margin-top: -0.05%;
	margin-left: 33.85%;
	position: absolute;
	border: solid 1px black;
}



.grid-copyrightbox {
	width: 80%;
	height: 48px;
	display: grid;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-left: 10%;
}


.grid-result {
	width: 180px;
	height: 240px;
	display: inline-grid;
	margin-top: 5px;
	margin-left: 5px;
}


.fakeurl {
	text-decoration: underline;
	cursor: pointer;

}

.searchin {
	width: 144px;
}

button {
	margin-top: 5px;
	background-color: #DDDDDC;
	border: solid 1px #838383;
	font-family: myFirstFont;
	color: black;
}

.activetab {
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
}

a {
	color: black;
}


@media(max-width: 600px) {
	.searchin {
		width: 108px;
	}

	.grid-searchbox1 {
		width: 108px;
		height: 64px;
		display: none;
		background-color: white;
		text-align: center;
		margin-top: 0%;
		margin-left: 1.1%;
		position: absolute;
		font-size: 24px;
		border: solid 1px black;
	}

	.grid-searchbox2 {
		width: 108px;
		height: 64px;
		display: none;
		background-color: white;
		text-align: center;
		margin-top: -0.05%;
		margin-left: 26.5%;
		position: absolute;
		font-size: 24px;
		border: solid 1px black;
	}

	.grid-result {
		width: auto;
		height: 240px;
		display: grid;
		margin-top: 5px;
		margin-left: 5px;
	}

	h {
		display: block;
		margin-top: 3px;
	}

	.grid-tabs {
		white-space: nowrap;
		overflow-x: scroll;
	}

	.grid-quickinfo {
		width: 80%;
		height: 200px;
		display: grid;
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		margin-left: 10%;
	}


	
	
}